/* @tailwind base; */
@import "reset.css";
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000000;
  --background: #fefefe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: red;
    --background: #070707;
  }
}

body {
  color: var(--text-color);
  background: var(--background);
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
